/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */

body {
    background-color: #F9FAFB;
    font-family: Arial, sans-serif;
    color: #1E293B;
    padding: 2rem;
}

form {
    max-width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

input[type="text"],
textarea {
    padding: 0.5rem;
    border: 1px solid #CBD5E1;
    border-radius: 6px;
    background: #FFFFFF;
}

input[type="checkbox"] {
    accent-color: #10B981;
    /* verde */
}

button:hover {
    background-color: #2563EB;
}